@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);

@font-face {
    font-family: "Mabry Pro Medium";
    src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot");
    src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.svg#Mabry Pro Medium") format("svg");
}

* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid black;
    font-family: "Mabry Pro Medium", sans-serif;

}

body {
    border: 0;
    margin: 0;
}

header {
    padding: 0 24px;
}

.container {
    display: flex;
    height: 108px;
    width: auto;
    background-color: white;
    position: sticky;
    justify-content: space-between;



}

.logo {
    display: flex;
    min-height: 108px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    color: #201749;
    padding-left: 30px;
    padding-top: 10px;

}

p {
    font-weight: 300;
    color: #4c4a55;
    font-size: 1rem;
    line-height: 1.6;
    padding-left: 30px;
}

.button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    font-weight: 500;
    background-color: #201749;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding-right: 20px;
    text-align: center;
    margin: auto;
    display: grid;

}

.image {
    height: 550px;
}

.image img {
    width: auto;
    max-height: 100%;
    padding-left: 120px;


}


.button:hover {
    background-color: #0c960c;
    transition: background-color .15s, font-size .15s;
    font-size: 18px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
}


.container .navbar .about li {
    display: inline-flex;
    margin: 2rem;
    padding: 0.4rem;

}



.image-text {
    display: flex;
}

.signup {
    display: inline-flex;

}

.about {
    margin: 0.4rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-product {
    display: none;
    position: absolute;
    min-width: none;
    padding: 30px 34px;
    z-index: 1;
}

.dropdown-resources {
    display: none;
    position: absolute;
    min-width: none;
    padding: 30px 34px;
    z-index: 1;
}

.dropdown-company {
    display: none;
    position: absolute;
    min-width: none;
    padding: 30px 34px;
    z-index: 1;
}

.about:hover .dropdown-company .dropdown-product .dropdown-resources {
    display: block;
}


.start {
    display: inline-flex;
}

.sign {

    display: inline-flex;
    margin: 0.3rem;
}

div ul .app {
    padding-right: 50px;

}

main {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
